COOKBUK_PORT=3000
COOKBUK_HOST=127.0.0.1
COOKBUK_DATABASE_PATH=./data/cookbuk.sqlite
COOKBUK_IMAGE_STORAGE_PATH=./data/images
COOKBUK_HOUSEHOLD_ID=local-household
COOKBUK_HOUSEHOLD_NAME=CookBuk Household
COOKBUK_CORS_ORIGIN=*
